
MSIS502B_syllabus_Purple.docx
pandas_basics/labs/.ipynb_checkpoints/Pandas Math-checkpoint.ipynb
pandas_basics/labs/.ipynb_checkpoints/Pandas Math-checkpoint.ipynb
pandas_basics/labs/.ipynb_checkpoints/Working With Pandas DataFrames-checkpoint.ipynb
pandas_basics/labs/.ipynb_checkpoints/Working With Pandas DataFrames-checkpoint.ipynb
data_munging/Notebooks/Untitled.ipynb
EDA/Labs/Lab1_AnswerKey.ipynb
data_munging/Notebooks/Untitled.ipynb
data_munging/Notebooks/Untitled.ipynb
EDA/Notebooks/.ipynb_checkpoints/Binning-checkpoint.ipynb
EDA/Labs/.ipynb_checkpoints/Lab1_AnswerKey-checkpoint.ipynb
EDA/Labs/.ipynb_checkpoints/EDA_Lab2_Normalization-checkpoint.ipynb
EDA/Labs/.ipynb_checkpoints/Lab1_AnswerKey-checkpoint.ipynb
EDA/Notebooks/.ipynb_checkpoints/Binning-checkpoint.ipynb
*-checkpoint.ipynb
